.about{
    margin-bottom: 80px;
    
}
.about .heading{
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
}
.about p{
    font-size: 15px;
    padding-right: 30px;
    margin-bottom: 20px;
    line-height: 30px;    
  
}
.about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about .left {
    width: 50%;
  }
  
  .about .left p {
    padding-right: 20px;
  }
  
  .about .right {
    width: 45%;
  }
  
  .about .right img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .btn2:hover {
    background-color: #387f56;
  }
@media screen and (max-widtt:768px){
    .about.container{
        flex-direction: column;
    }
    .about p{
        padding: 0;
    }
    .about .about.container img{
        margin-top: 50px;
    }
}